* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg--color {
  background-color: #006400;
}

.text--color {
  color: #006400;
}

.bt--bg--color {
  background-color: #006400;
}

.text-bt--color {
  color: #f5f5dc;
}
